<section class="container-fluid">
  <h2 class='text-info'>Add a Resource</h2>
  <%= render partial: 'shared/form', locals: {path: '/resources', method: :post, button_text: 'Submit Your Findings'} %>
  </section>
