<section class="container-fluid">
  <h2 class='text-info'>Edit a Resource</h2>
  <%= render partial: 'shared/form', locals: {path: "/resources?id=#{@resource.id}", method: :put, button_text: 'Edit Your Findings'} %>
  </section>
